node_modules/*
jest.config.js
vue.config.js
src/shims/*
dist/*
coverage/*
postcss.config.js
babel.config.js
.eslintrc.cjs
tests/unit/.eslintrc.js
vite.config.ts
vitest.config.ts
index.html