<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="PA-signup" content="true" />
        <meta name="PA-mail" content="true" />
        <script type="importmap">
            {
                "imports": {
                    <% if(localVue){ %>
                        "vue": "%BASE_URL%<%= vueUrl %>"
                    <% } else { %>
                        "vue": "<%= vueUrl %>"
                    <% } %>
                }
            }
        </script>
        <title>PlanarAlly</title>
    </head>
    <body>
        <div id="app"></div>
        <script type="module" src="/src/main.ts"></script>
    </body>
</html>
