# editors
.idea/**
.vscode/**

# Python
server/env/**
server/**/__pycache__/**
server/venv
server/.mypy**

# PyInstaller
server/dist/**
server/build/**

# JS
client/node_modules/**
server/client/src/*.js
sever/client/src/*.js.map

# PlanarAlly
server/planarallyserver.log
server/planar.save*
server/planar.sqlite
server/server_config.cfg
server/static/img/**
server/static/assets/**

# docs
docs/_build
docs/_static
docs/_templates
docs/.doctrees

# Intellij
**/.idea/**
