*.zip
# editors
.idea/**
.vscode/**
*.sw?

# Python
server/data/**
server/env/**
server/**/__pycache__/**
server/venv
server/oldsaves
server/static/temp/**
.mypy**
.venv
venv/
env/
server/.python-version

# PyInstaller
server/dist/**
server/build/**

# JS
client/coverage/**
client/node_modules/**

# PlanarAlly
server/planarallyserver.log*
server/planar.save*
server/*.sqlite*
server/save_backups
server/server_config.cfg

# These folders are all output directories for the vue client build
server/static/assets/**
server/static/css/**
server/static/js/**
server/static/img/assets/**
server/static/vite/**
server/static/vite-admin/**
server/templates/**
server/static/temp/**
server/static/mods/**

# docs
docs/_build
docs/_static
docs/_templates
docs/.doctrees

# Intellij
**/.idea/**
