html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url("/static/img/login_background.png") repeat fixed;
    font-family: 'Open Sans', sans-serif;
}

#AssetManager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#titlebar {
    padding: 15px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: #FF7052;
    color: #fff;
    text-align: center;
}

#assets {
    background-color: white;
    border: solid 1px black;
    margin: 10px;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}

#breadcrumbs {
    position: absolute;
    left: 0;
    top: 0;
    display:flex;
    overflow: hidden;
    z-index: 1;
    background-color: #FF7052;
    color: white;
    align-items: center;
    padding: 5px;
    border-bottom-right-radius: 10px;
}

#breadcrumbs > div {
    position: relative;
    padding: 10px;
    padding-left: 25px;
    text-align: center;
}

#breadcrumbs > div:first-child {
    padding-left: 10px;
}

#breadcrumbs div:last-child::after {
    content:none;
}

#breadcrumbs div::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 3px;
    right: -20px;
    background-color: #FF7052;
    border-top-right-radius: 5px;
    -webkit-transform: scale(0.707) rotate(45deg);
            transform: scale(0.707) rotate(45deg);
    box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

#actionbar {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    border-bottom-left-radius: 10px;
    background-color: #FF7052;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#actionbar > div {
    margin: 5px;
}

#actionbar > div:hover {
    cursor: pointer;
}

#explorer {
    position: relative;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
}

.inode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.inode:hover {
    cursor: pointer;
    background-color: #82c8a0;
}
.title {
    word-break: break-all;
}
#contextMenu {
    position: absolute;
    z-index: 11;
}

#contextMenu ul {
    /*width: 100%;*/
    /*height: 100%;*/
    border: 1px solid #82c8a0;
    border-radius: 5px;
    background: white;
    padding: 0;
    list-style: none;
    margin: 0;
}

#contextMenu ul li {
    border-bottom: 1px solid #82c8a0;
    padding: 5px;
}

#contextMenu ul li:hover {
    background-color: #82c8a0;
}

#contextMenu ul li:last-child {
    border-bottom: none;
}

#contextMenu > ul > li {
    clear: left;
    position: relative;
}

#contextMenu > ul > li ul {
    display: none;
    position: absolute;
    left: 119px;
    top: -1px;
}

#contextMenu > ul > li:hover ul {
    display: flex;
    flex-direction: column;
}