html, body, #main {
    height: 100%;
}

body {
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

#main {
    display: flex;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    z-index: 21;
    background-color: #fa5a5a;
    display: none;
    overflow: auto;
}

#locations-menu {
    position: absolute;
    top:0;
    left:0;
    height: 100px;
    width: 100%;
    z-index: 21;
    background-color: #fa5a5a;
    display: none;
    overflow: auto;
}

#locations-menu > div {
    display:flex;
    width: 100%;
    height: 100%;
}

#locations-menu > div > div {
    background-color: white;
    text-align: center;
    line-height: 100px;
    width: 100px;
    border-right: solid 1px #82c8a0;
}

#locations-menu > div > div:hover {
    cursor: pointer;
    background-color: #82c8a0;
}

#board {
    position: relative;
    width: 100%;
    height: 100%;
}

#layers, canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#layerselect {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 10;
    background-color: white;
}

#layerselect ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid 1px black;
}

#layerselect li {
    display: flex;
    border-right: solid 1px black;
}

#layerselect li:last-child {
    border-right: none;
}

#layerselect li:hover {
    background-color: #82c8a0;
}

#layerselect li a {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    display: flex;
    padding: 10px;
    text-decoration: none;
}

#layerselect .layer-selected {
    background-color: #82c8a0;
}

#toolselect {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 10;
    background-color: white;
}

#toolselect ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid 1px black;
}

#toolselect li {
    display: flex;
    border-right: solid 1px black;
}

#toolselect li:last-child {
    border-right: none;
}

#toolselect li:hover {
    background-color: #82c8a0;
}

#toolselect li a {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    display: flex;
    padding: 10px;
    text-decoration: none;
}

#toolselect .tool-selected {
    background-color: #82c8a0;
}

.draggable {
    list-style: none;
    font-family: helvetica;
}

#contextMenu {
    position: absolute;
    z-index: 11;
}

#contextMenu ul {
    /*width: 100%;*/
    /*height: 100%;*/
    border: 1px solid black;
    background: white;
    padding: 0;
    list-style: none;
    margin: 0;
}

#contextMenu ul li {
    border-bottom: 1px solid black;
    padding: 5px;
}

#contextMenu ul li:hover {
    background-color: #82c8a0;
}

#contextMenu ul li:last-child {
    border-bottom: none;
}

#contextMenu > ul > li {
    clear: left;
    position: relative;
}

#contextMenu > ul > li ul {
    display: none;
    position: absolute;
    left: 99px;
    top: 0;
}

#contextMenu > ul > li:hover ul {
    display: flex;
    flex-direction: column;
}

#contextMenu > ul > li ul li {
    /*float: left;*/
    /*display: block;*/
}

.context-clickable {
    cursor: pointer;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-top: solid 1px #82c8a0;
}

.accordion-active, .accordion:hover {
    background-color: #82c8a0;
}

.accordion-panel {
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion-subpanel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordion-subpanel div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.accordion-subpanel div:hover{
    background-color: #82c8a0;
}

.token {
    padding: 0 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#zoomer {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 11;
}

#tooldetail {
    position: absolute;
    bottom: 80px;
    right: 25px;
    z-index: 11;
    width: 150px;
    border: solid 1px #2b2b2b;
    background-color: white;
    display: none;
    padding: 10px;
}

#tooldetail:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: black;
    border-bottom: 0;
    margin-left: -14px;
    margin-bottom: -14px;
}

#tooldetail > div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#radialmenu {
    position: absolute;
    z-index: 20;
    width: 0;
    height: 0;
}

/* The svg is added by Font Awesome */

.rm-list-dm #rm-locations svg {
    margin-left: 50px;
}

.rm-list-dm #rm-settings svg {
    margin-bottom: 50px;
}

/* https://codepen.io/jonigiuro/pen/kclIu/ */

.rm-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    top: -100px;
    left: -100px;
}

.rm-wrapper .rm-topper {
    pointer-events: none;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.rm-wrapper .rm-toggler, .rm-wrapper .rm-topper {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    background: #fa5a5a;
    color: white;
    border-radius: 50%;
}

.rm-wrapper .rm-toggler .rm-list, .rm-wrapper .rm-topper .rm-list {
    opacity: 0.5;
    list-style: none;
    padding: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
    border-radius: 50%;
    transform: rotate(180deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: -75px 0 0 -75px;
}

.rm-list-dm {
    transform: rotate(135deg) !important;  /* total deg: 135 */
}

.rm-wrapper .rm-toggler:hover .rm-list, .rm-wrapper .rm-topper:hover .rm-list {
    opacity: 1;
}


.rm-wrapper .rm-toggler .rm-list .rm-item, .rm-wrapper .rm-topper .rm-list .rm-item {
    display: table;
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.rm-wrapper .rm-toggler .rm-list .rm-item:hover, .rm-wrapper .rm-topper .rm-list .rm-item:hover {
    background-color: #82c8a0;
}

.rm-wrapper .rm-toggler .rm-list .rm-item:hover a, .rm-wrapper .rm-topper .rm-list .rm-item:hover a {
    color: white;
}

.rm-wrapper .rm-toggler .rm-list .rm-item a, .rm-wrapper .rm-topper .rm-list .rm-item a {
    display: table-cell;
    vertical-align: middle;
    transform: rotate(-45deg);
    text-decoration: none;
    font-size: 25px;
    color: #82c8a0;
}
