<!doctype html>
<html>
<head>
    <title>PlanarAlly - Asset Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/assets.css">
    <script defer src='/static/extern/js/fontawesome_all.js'></script>
</head>
<body>
<div id='AssetManager' v-cloak>
    <div id='titlebar'>Asset Manager</div>
    <div id='main'>
        <div id='assets' @dragover.prevent="moveDrag" @drop.prevent.stop="stopDrag($event, '.')">
            <div id='breadcrumbs'>
                <div>/</div><div v-for="dir in path">[[ idMap.get(dir).name ]]</div>
            </div>
            <div id='actionbar'>
                <input id='files' type='file' multiple hidden @change="upload()">
                <div @click="createDirectory" title="Create folder"><i class="fas fa-plus-square"></i></div>
                <div @click="prepareUpload" title="Upload files"><i class="fas fa-upload"></i></div>
            </div>
            <div id='explorer'>
                <div
                    class='inode folder'
                    v-if="path.length"
                    @dblclick="changeDirectory(-1)"
                    @dragover.prevent="moveDrag"
                    @dragleave.prevent="leaveDrag"
                    @drop.prevent.stop="stopDrag($event, parentFolder)"
                >
                    <i class='fas fa-folder' style='font-size: 50px;'></i>
                    <div class='title'>..</div>
                </div>
                <div
                    class='inode folder'
                    draggable="true"
                    v-for="key in folders"
                    :class="{'inode-selected': selected.includes(key)}"
                    @click="select($event, key)"
                    @dblclick="changeDirectory(key)"
                    @contextmenu.prevent="$refs.cm.open($event, key)"
                    @dragstart="startDrag($event, key)"
                    @dragover.prevent="moveDrag"
                    @dragleave.prevent="leaveDrag"
                    @drop.prevent.stop="stopDrag($event, key)"
                >
                    <i class='fas fa-folder' style='font-size: 50px;'></i>
                    <div class='title'>[[ idMap.get(key).name ]]</div>
                </div>
                <div
                    class='inode file'
                    draggable="true"
                    v-for="file in files"
                    :class="{'inode-selected': selected.includes(file)}"
                    @click="select($event, file)"
                    @contextmenu.prevent="$refs.cm.open($event, file)"
                    @dragstart="startDrag($event, file)"
                >
                    <img :src="'/static/assets/' + idMap.get(file).file_hash" width=50>
                    <div class='title'>[[ idMap.get(file).name ]]</div>
                </div>
            </div>
        </div>
        <div id='asset-details' v-if="firstSelectedFile">
            <div id='asset-detail-title'>[[ firstSelectedFile.name ]]</div>
            <img :src="'/static/assets/' + firstSelectedFile.file_hash">
        </div>
    </div>
    <cm ref='cm'></cm>
    <prompt ref="prompt"></prompt>
    <confirm ref="confirm"></confirm>
</div>
<script type="text/javascript" src="/static/js/assets.79ff60c1178487289de4.js"></script></body>
</html>