<!doctype html>
<html>
<head>
    <title>PlanarAlly</title>
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>Welcome to PlanarAlly</h1>
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ username }}">
        <input type="password" placeholder="Password" name="password" value="{{ password }}">
        <div id="buttons">
            <input type="submit" name="register" value="Register">
            <input type="submit" name="login" value="Login">
        </div>
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
</body>