<!doctype html>
<html>
<head>
    <title>PlanarAlly</title>
    <link href="/static/css/login.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script>
        window.addEventListener("focusin", (event) => {
            const span = event.target.nextElementSibling;
            span.style.opacity = 0;
        });
        window.addEventListener("focusout", (event) => {
            const span = event.target.nextElementSibling;
            span.style.opacity = 1;
        });
    </script>
</head>
<body>
<form action="" method="post">
    <fieldset>
        <legend class="legend">PlanarAlly</legend>
        <div class="input">
            <input type="text" name="username" value="{{ username }}" placeholder="Username" required/>
            <span><i class="fas fa-user-circle"></i></span>
        </div>

        <div class="input">
            <input type="password" name="password" value="{{ password }}" placeholder="Password" required/>
            <span><i class="fas fa-lock"></i></span>
        </div>

        <div style="display:flex;">
            <button type="submit" name="login" style="visibility: hidden;display:none;"></button>
            <button type="submit" name="register" class="submit" title="Register"><i class="fas fa-plus"></i></button>
            <button type="submit" name="login" class="submit" title="Login"><i class="fas fa-arrow-right"></i></button>
        </div>

    </fieldset>

    {% if error %}
    <div class="feedback">
        <p class="error"><strong>Error:</strong> {{ error }}
    </div>
    {% endif %}

</form>
</body>
</html>