<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PlanarAlly</title>
    <link rel="stylesheet" type="text/css" href="/static/css/planarally.css">
    <link rel='stylesheet' href='/static/extern/css/jquery-ui-1.12.1.css'/>
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
    <script defer src='/static/extern/js/fontawesome_all.js'></script>
{#    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>#}
    <script defer src="/static/js/planarally.js"></script>
    <script src='/static/extern/js/jquery-3.3.1.min.js' integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
{#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"#}
{#            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>#}
    <script src='/static/extern/js/jquery-ui-1.12.1.min.js' integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="></script>
{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"#}
{#            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>#}
    <link rel='stylesheet' href='/static/extern/css/spectrum.css'/>
    <script src='/static/extern/js/spectrum.js'></script>
    <script src='/static/extern/js/socket.io-2.0.4.js'></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>#}
</head>
<body>
<div id="main">
    <div id="radialmenu">
        <div class="rm-wrapper">
            <div class="rm-toggler">
                <ul class="rm-list {% if dm %}rm-list-dm{% endif %}">
                    {% if dm %}
                        <li class="rm-item" id="rm-locations"><a href="#"><i class="far fa-compass"></i></a>
                        </li>{% endif %}
                    <li class="rm-item" id="rm-settings"><a href="#"><i class="fas fa-cog"></i></a></li>
                </ul>
            </div>
            <span class="rm-topper">
                <i class="icon-share-alt"></i>
            </span>
        </div>
    </div>
    <div id="board">
        <div id="menu">
            {% if dm %}
                <button class="accordion">Tokens</button>
                <div class="accordion-panel">
                    <div class="accordion-subpanel" id="menu-tokens"></div>
                </div>
                <button class="accordion">Server Options</button>
                <div class="accordion-panel">
                    <div class="accordion-subpanel">
                        <label for="gridSizeInput">Grid Size: </label><input type="text" value="50"
                                                                             id="gridSizeInput">
                        <label for="invitation">Invitation Code: </label><input type="text"
                                                                                value="{{ invitation_code }}"
                                                                                disabled="disabled"
                                                                                id="invitation">
                    </div>
                </div>
            {% endif %}
            <button class="accordion">Client Options</button>
            <div class="accordion-panel">
                <div class="accordion-subpanel">
                    <div><label for="gridColour">Grid Colour: </label><input type="text" id="gridColour"></div>
                    <div><label for="fowColour">FOW Colour: </label><input type="text" id="fowColour"></div>
                </div>
            </div>
            {% if dm %}
                <button class="accordion">SelectionInfo</button>
                <div class="accordion-panel">
                    <div class="accordion-subpanel">
                        <label for="selectionInfoX">X: </label><input type="text" id="selectionInfoX">
                        <label for="selectionInfoY">Y: </label><input type="text" id="selectionInfoY">
                        <label for="selectionInfoW">W: </label><input type="text" id="selectionInfoW">
                        <label for="selectionInfoH">H: </label><input type="text" id="selectionInfoH">
                    </div>
                </div>
            {% endif %}
        </div>
        {% if dm %}
            <div id="locations-menu">
                <div></div>
            </div>
        {% endif %}
        <div id="layers"></div>
        <div id="layerselect">
            <ul></ul>
        </div>
    </div>
    <div id="toolselect">
        <ul></ul>
    </div>
    <div id="selection-menu">
        <i id='selection-edit-button' class="fas fa-edit"></i>
        <div id="selection-name">Aboleth</div>
        <div id="selection-trackers">
            <div id="selection-tracker-health-name">Health</div>
            <div id="selection-tracker-health-value" class="selection-tracker-value">50</div>
        </div>
        <div id="selection-auras">
            <div id="selection-aura-darkvision-name">Darkvision</div>
            <div id="selection-aura-darkvision-value" class="selection-aura-value">60</div>
        </div>
    </div>
    <div id="tooldetail"></div>
    <div id="zoomer"></div>
    <div id='contextMenu'></div>
</div>
<div id="shapeselectiondialog" title="Edit asset">
    <form>
        <label for="shapeselectiondialog-name">Name</label>
        <input type="hidden" id="shapeselectiondialog-uuid">
        <input type="text" id="shapeselectiondialog-name" style="grid-column: numerator / end">
        <label for="shapeselectiondialog-lightblocker">Blocks vision/light</label>
        <input type="checkbox" id="shapeselectiondialog-lightblocker" style="grid-column-start: remove;width:15px;height:15px;">
        <div class="spanrow" id="shapeselectiondialog-trackers">Trackers</div>
        <div class="spanrow" id="shapeselectiondialog-auras">Auras</div>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>
</body>
</html>