<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PlanarAlly</title>
    <link rel="stylesheet" type="text/css" href="/static/css/planarally.css">
    <link rel="stylesheet" type="text/css" href="/static/extern/css/directory.css">
    <link rel='stylesheet' href='/static/extern/css/jquery-ui-1.12.1.css'/>
    <script defer src='/static/extern/js/fontawesome_all.js'></script>
    <script defer src="/static/js/planarally.js"></script>
</head>
<body>
<div id="main">
    <menu-bar></menu-bar>
    {% if dm %}
        <div id="locations-menu">
            <div></div>
        </div>
    {% endif %}
    <div id="board">
        <template v-if="ready.manager">
            <tool-bar ref='tools'></tool-bar>
        </template>
        <div id="layers"
            @mousedown="mousedown"
            @mouseup="mouseup"
            @mousemove="mousemove"
            @contextmenu.prevent.stop="contextmenu"
            @dragover.prevent
            @drop='drop'
        ></div>
        <div id="layerselect" v-if="layers.length > 1">
            <ul>
                <li
                    v-for="layer in layers"
                    :class="{ 'layer-selected': layer === selectedLayer }"
                    @click="selectLayer(layer)"
                ><a href='#'>[[ layer ]]</a></li>
            </ul>
        </div>
    </div>
    <selection-info ref='selectionInfo'></selection-info>
    <initiative-dialog ref='initiative' id='initiativedialog'></initiative-dialog>
    <note-dialog ref='note'></note-dialog>
    <zoom-slider
        id='zoomer'
        v-model="zoomFactor"
        :height='6'
        :width='200'
        :min='0.1'
        :max='5.0'
        :interval='0.1'
        :dot-width='8'
        :dot-height='20'
        :tooltip-dir="'bottom'"
        :tooltip="'hover'"
        :formatter='zoomFactor.toFixed(1)'
        :slider-style="{'border-radius': '15%'}"
        :bg-style="{'background-color': '#fff', 'box-shadow': '0.5px 0.5px 3px 1px rgba(0, 0, 0, .36)'}"
        :process-style="{'background-color': '#fff'}"
    ></zoom-slider>
    <prompt-dialog ref="prompt"></prompt-dialog>
    <confirm-dialog ref="confirm"></confirm-dialog>
</div>
</body>
</html>