<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PlanarAlly</title>
    <link rel="stylesheet" type="text/css" href="/static/css/planarally.css">
    <link rel="stylesheet" type="text/css" href="/static/extern/css/directory.css">
    <link rel='stylesheet' href='/static/extern/css/jquery-ui-1.12.1.css'/>
    <script defer src='/static/extern/js/fontawesome_all.js'></script>
    <script defer src="/static/js/planarally.js"></script>
    <script src='/static/extern/js/jquery-3.3.1.min.js' integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
    <script src='/static/extern/js/jquery-ui-1.12.1.min.js' integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="></script>
    <link rel='stylesheet' href='/static/extern/css/spectrum.css'/>
    <script src='/static/extern/js/spectrum.js'></script>
    <script src='/static/extern/js/socket.io-2.0.4.js'></script>
</head>
<body>
<div id="main">
    {# <div id="radialmenu">
        <div class="rm-wrapper">
            <div class="rm-toggler">
                <ul class="rm-list {% if dm %}rm-list-dm{% endif %}">
                    {% if dm %}
                        <li class="rm-item" id="rm-locations"><a href="#"><i class="far fa-compass"></i></a>
                        </li>{% endif %}
                    <li class="rm-item" id="rm-settings"><a href="#"><i class="fas fa-cog"></i></a></li>
                </ul>
            </div>
            <span class="rm-topper">
                <i class="icon-share-alt"></i>
            </span>
        </div>
    </div> #}
    <div id="board">
        <template v-if="ready.manager">
            <tool-bar ref='tools'></tool-bar>
        </template>
        <div id="layers"
            @mousedown="mousedown"
            @mouseup="mouseup"
            @mousemove="mousemove"
            @contextmenu.prevent.stop="contextmenu"
        ></div>
        <div id="layerselect" v-if="layers.length > 1">
            <ul>
                <li
                    v-for="layer in layers"
                    :class="{ 'layer-selected': layer === selectedLayer }"
                    @click="selectLayer(layer)"
                ><a href='#'>[[ layer ]]</a></li>
            </ul>
        </div>
        {# <menu-bar></menu-bar> #}
        {# <template v-if="ready()">
            <selection-info ref='selectionInfo'></selection-info>
            <prompt-dialog ref="prompt"></prompt-dialog>
        </template>
        {% if dm %}
            <div id="locations-menu">
                <div></div>
            </div>
        {% endif %} #}
    </div>
    <selection-info ref='selectionInfo'></selection-info>
    <prompt-dialog ref="prompt"></prompt-dialog>
    {# <div id="zoomer"></div> #}
</div>
{# <div id="initiativedialog" class="dialog" title="Initiative"></div> #}
</body>
</html>