<!doctype html>
<html>
<head>
    <title>PlanarAlly</title>
    <link href="/static/css/rooms.css" rel="stylesheet">
    <script defer src='/static/extern/js/fontawesome_all.js'></script>
    <script>
        window.addEventListener("focusin", (event) => {
            const span = event.target.nextElementSibling;
            span.style.opacity = 0;
        });
        window.addEventListener("focusout", (event) => {
            const span = event.target.nextElementSibling;
            span.style.opacity = 1;
        });
    </script>
</head>
<body>
<div id="formcontainer">
    {% if owned or joined %}
        <form action="" method="post">
            <fieldset>
                <legend class="legend">Your sessions</legend>
                <div class="input">
                    {% for room in owned %}
                        <a href="/rooms/{{ room.1 }}/{{ room.0 }}">{{ room.0 }}</a>
                    {% endfor %}
                    {% for room in joined %}
                        <a href="/rooms/{{ room.1 }}/{{ room.0 }}">{{ room.1 }}/{{ room.0 }}</a>
                    {% endfor %}
                </div>
            </fieldset>
        </form>
        <h4><span>OR</span></h4>
    {% endif %}
    <form action="/create_room" method="post">
        <fieldset>
            {% if not owned and not joined %}
                <legend class="legend">Create a session</legend>
            {% else %}
                <div class="input">Create a new session</div>
            {% endif %}
            <div class="input">
                <input type="text" name="room_name" placeholder="Session Name">
                <span><i class="fab fa-d-and-d"></i></span>
            </div>
            <button type="submit" class="submit" title="Create"><i class="fas fa-arrow-right"></i></button>
        </fieldset>
    </form>
    <div id="account-options">
        <form action="/acountsettings" method="get">
            <button type="submit" class="submit" title="Account Settings"><i class="fas fa-cog"></i></button>
        </form>
        <form action="/logout" method="get">
            <button type="submit" class="submit" title="Logout"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>
</body>
</html>