aiohttp==3.10.11
aiohttp_security==0.5.0
aiohttp_session==2.12.1
bcrypt==4.2.0
cryptography==43.0.1
pillow==11.0.0
python-engineio==4.9.1
python-socketio==5.11.4
peewee==3.17.5
pydantic==1.10.13
typing_extensions==4.12.2
