[Webserver]
host = 0.0.0.0
port = 8000
ssl = false
# the ssl_ options are only required if ssl is set
# modify these to your actual keys!
ssl_fullchain = cert/fullchain.pem
ssl_privkey = cert/privkey.pem
[General]
save_file = data/planar.save
