on: pull_request
name: PR
jobs:
    CLIENT-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
            - name: npm i
              working-directory: client
              run: |
                  npm install
            - name: build
              working-directory: client
              run: |
                  npm run build:ci
    CLIENT-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
            - name: npm i
              working-directory: client
              run: |
                  npm install
            - name: lint
              working-directory: client
              run: |
                  npm run lint:ci
    CLIENT-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
            - name: npm i
              working-directory: client
              run: |
                  npm install
            - name: test
              working-directory: client
              run: |
                  npm run test
    SERVER:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: black
              uses: psf/black@stable
              working-directory: server
            - name: ruff
              working-directory: server
              run: /
                  ruff src
