on: pull_request
name: PR
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true
jobs:
    CLIENT-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
            - name: npm i
              working-directory: client
              run: |
                  npm install
            - name: build
              working-directory: client
              run: |
                  npm run build:ci
    CLIENT-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
            - name: npm i
              working-directory: client
              run: |
                  npm install
            - name: lint
              working-directory: client
              run: |
                  npm run lint:ci
    CLIENT-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
            - name: npm i
              working-directory: client
              run: |
                  npm install
            - name: test
              working-directory: client
              run: |
                  npm run test
    SERVER-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: black
              uses: psf/black@stable
            - name: Install Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install ruff
            - name: ruff
              working-directory: server
              run: |
                  ruff src
    SERVER-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install pytest
            - name: pytest
              working-directory: server
              run: |
                  pytest
